<!-- <section> -->
  <!-- <div class="img">
    <img src="../../assets/imgs/mtc_logo_white.png" />
  </div> -->

  <!-- <div class="inner"> -->
    <ion-content class="login no-scroll" fullscreen="true" scroll-y="true">
      <section class="main">
        <div class="topnav">
          <ion-icon name="car-sport" routerLink="/drivers"></ion-icon>
        </div>
        <h1 class="ion-text-center">For You</h1>

        <div class="middle">
          <ion-card>
            <img src="../../../assets/imgs/weather.jpg" alt="">
            <div class="buttons">
              <ion-button href="https://www.accuweather.com/en/na/windhoek/243939/weather-forecast/243939" expand="block" fill="clear" shape="round">
                <ion-icon name="rainy"></ion-icon>
                Weather
              </ion-button>
            </div>
          </ion-card>
          <ion-card>
            <img src="../../../assets/imgs/news.jpg" alt="">
            <div class="buttons">
              <ion-button href="https://www.namibian.com.na/" expand="block" fill="clear" shape="round">
                <ion-icon name="newspaper"></ion-icon>
                News
              </ion-button>
            </div>
          </ion-card>
          <ion-card>
            <img src="../../../assets/imgs/stock.jpg" alt="">
            <div class="buttons">
              <ion-button href="https://iqbroker.co/lp/mobile/en/?aff=97642&afftrack=GAD_ZA_EN_00_FTD_All_Web_%7bcampagnid%7d_c_124423466063_kwd-10011636&gclid=Cj0KCQjwlOmLBhCHARIsAGiJg7mT5xh7XOAMJd3zcAEajYN06jSzZg8YcxyAwluit7YKnk16xIxJuWQaAv38EALw_wcB" expand="block" fill="clear" shape="round">
                <ion-icon name="stats-chart"></ion-icon>
                Stock
              </ion-button>
            </div>
          </ion-card>
          <ion-card>
            <img src="../../../assets/imgs/covid.jpg" alt="">
            <div class="buttons">
              <ion-button href="https://ourworldindata.org/coronavirus-data" expand="block" fill="clear" shape="round">
                <ion-icon name="globe"></ion-icon>
                Covid
              </ion-button>
            </div>
          </ion-card>
        </div>
        <div class="bottom-nav">
          <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button color="light" (click)="openAction()">
              <ion-icon name="grid"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </section>
  </ion-content>
 <!-- </div> -->
 <!-- <div class="overlay">
  <div class="inner">
  </div>
 </div>  -->
 <!-- </section> -->