
ion-content {
    --padding-top: 5%;
    --background: #f5f2f3 !important;
  }
  
  ion-toolbar {
    --background: #fff5f8 !important;
    --color: #000 !important;
  }

  ion-card {
    padding: 0.5rem;
    border-radius: 0.6rem;
  }

  h1 {
    color: #000;
  }